p {
    font-family: "Brush Script MT", "Fantasy", sans-serif;
    text-align: left;
    line-height: 1.5;
}

.lista{
    font-family: Garamond, 'Trebuchet MS', Arial, sans-serif;
    font-size: 19px;
}

.lista.titulo{
    font-family: Garamond, 'Trebuchet MS', Arial, sans-serif;
    font-size: 21px;
}

body{
    background-color:wheat;
   
}

body.corpo-principal{
    text-align: center;
}

h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

h5{
    font-style: italic;
}

.introducao{
    color: darkslategrey;
    font-weight: 600;
    font-size: 23px;
}

img{
    height: auto;
    max-width: auto;


}

div{
    width: 300px;
    margin: 16px auto;
    padding: 10px;
}

div.receita-index{
    display: inline-block;
    border-style: dashed;
    border-color:floralwhite;
    border-radius: 30%;
    padding: 100px;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: auto;
    justify-content: center;
}

#receita-um{
    background-image: url(images/goulash.jpg);

}

#receita-dois{
    background-image: url(images/chocolate-cake.jpeg);
}

#receita-tres{
    background-image: url(images/ginger-hibiscus.jpeg);

}

.imagem-index{
    
    border-radius: 10px;
}

